@model LoginApp.Models.RegexForm

@{
    ViewData["Title"] = "Logowanie";
}

@using(Html.BeginForm("Create", "Regex", FormMethod.Post))
{
    Nazwa:<br /> 
    @Html.TextBoxFor(m => m.Name)
    <br />
    Opis:<br />
    @Html.TextBoxFor(m => m.Description)
    <br />
    <table>
        <tr>
            <td>@Html.CheckBoxFor(m => m.checkMinLength)</td><td>@Html.TextBoxFor(m => m.minLength, new { @type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(m => m.checkMaxLength)</td><td>@Html.TextBoxFor(m => m.maxLength, new { @type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(m => m.checkUppercase)</td><td>@Html.TextBoxFor(m => m.minUppercase, new { @type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(m => m.checkLowercase)</td><td>@Html.TextBoxFor(m => m.minLowercase, new { @type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(m => m.checkSpecialSigns)</td><td>@Html.TextBoxFor(m => m.minSpecialSigns, new { @type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.CheckBoxFor(m => m.checkDigits)</td><td>@Html.TextBoxFor(m => m.minDigits, new { @type = "number" })</td>
        </tr>
    </table>
    <input type="submit" value="ok" />
}